.dashboard .summary {
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
}

.dashboard .summary button {
    width: 100%;
    padding: 20px;
    font-size: 28px;
}

.dashboard .summary .result {
    margin-top: 10px;
}

.task {
    background: rgba(0, 0, 0, .1);
    border-radius: 12px;
    padding: 15px;
    margin: 15px 0;
}
.task h3 {
    text-align: center;
}
.task.approved {
    background: #A1D490;
}
.task.disapproved {
    background: #D49090;
}

.answer {
    margin-top: 10px;
}
